<div class="row">
	<div class="span4 square">
		<div>
			<h3>This is a great title</h3>
			<div></div>
		</div>
	</div>
	<div class="span4 square">
		<div>
			<h3>This is a great title</h3>
			<div></div>
		</div>
	</div>
	<div class="span4 square">
		<div>
			<h3>This is a great title</h3>
			<div></div>
		</div>
	</div>
</div>

<div class="row">
	<div class="span4 square">
		<div>
			<h3>This is a great title</h3>
			<div></div>
		</div>
	</div>
	<div class="span4 square">
		<div>
			<h3>This is a great title</h3>
			<div></div>
		</div>
	</div>
	<div class="span4 square">
		<div>
			<h3>This is a great title</h3>
			<div></div>
		</div>
	</div>
</div>

<div class="row">
	<div class="span4 square">
		<div>
			<h3>This is a great title</h3>
			<div></div>
		</div>
	</div>
	<div class="span4 square">
		<div>
			<h3>This is a great title</h3>
			<div></div>
		</div>
	</div>
	<div class="span4 square">
		<div>
			<h3>This is a great title</h3>
			<div></div>
		</div>
	</div>
</div>