<div>
	{{#if isMediaOnly}}
		&nbsp;
	{{else}}
		<h3>
			<a href="{{url}}">{{title}}</a>
		</h3>
		<div class="summary">
			<p>
				{{summary}}
			</p>
		</div>
	
		<div class="controls">
			<ul class="unstyled inline">
				<li class="pull-left">
					<a class="read_more" href="#">Read more</a>
				</li>
				<li class="pull-right">
					<a class="remove" href="#">Remove</a>
				</li>
			</ul>
		</div>
	{{/if}}
</div>