@import "twitter/bootstrap";

@linkColor: #666;

body {
/*	background-image: url(/images/bg.jpg);*/
}

.container {
	margin: 0 auto;
}

ul.unstyled {
	list-style-type: none;
}

ul.inline {
	width: 100%;
	li {
		display: inline;
	}
}