<!DOCTYPE html>
<html>
<head>
  <title>Grid</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div class="container">
		<div class="row">
			<div class="span12">
				<div id="main-container">
				</div>
			</div>
		</div>
		
		<footer>
			<p>
				We are <a href="http://www.youtube.com/watch?v=oHg5SJYRHA0">responsible for nothing</a> on this website. Use at your own risk.
			</p>
		</footer>
	</div>

</body>
</html>
